body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(1, 1, 36);
}

h2 {
  color: #c0c5d1;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.app-title i {
    margin-right: 15px;
}

.input-group {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 700px;
  width: 100%;
  line-height: 1.4em;
  font-size: 14px;
  display: flex;
  background: #c0c5d1;
  border-radius: 6px;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
  box-sizing: border-box;
}

#button {
  text-align: center;
  background: #96a2be;
  color: rgb(1, 1, 36);
  font-weight: bold;
  letter-spacing: 0.2px;
  border: none;
  float: right;
  width: 85px;
}

#button:hover,
#button:active {
  background-color: rgb(1, 1, 36);
  color: #c0c5d1;
}

.todo-nav {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.count {
  color: #c0c5d1;
}

p {
  tab-size: 3px;
}

.border-bottom {
  border-bottom: #c0c5d1;
  margin-top: 30px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

 li {
  color: #c0c5d1;
  margin-top: 30px;
  font-size: 20px;
  letter-spacing: 0.2px;
  list-style: none;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: left;
}

input[type="checkbox"] {
  cursor: pointer;
  margin-right: 30px;
  width: 18px;
  height: 18px;
}

.edit {
  background-color: rgb(1, 189, 1);
  color: rgb(1, 1, 36);
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.2px;
  border: none;
  border-radius: 3px;
  color: rgb(1, 1, 36);
  margin-right: 10px;
  margin-left: auto;
  font-size: 12px;
  height: 30px;
  width: 75px;
}

.edit:hover,
.edit:active {
  background-color: green;
  color: #c0c5d1;
}

.del {
  background-color: red;
  color: rgb(1, 1, 36);
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.2px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  height: 30px;
  width: 75px;
}

.del:hover,
.del:active {
  background-color: rgb(168, 7, 7);
  color: #c0c5d1;
}

h1 {
  color: #c0c5d1;
  font-size: 20px;
}
